{% extends 'base.html' %}
{% block content %}
<br>
<br>
<h1 style="margin-left: 10%" id="team_name_title">Team {{team_name}}</h1>
<hr style="margin-left: 10%; margin-right: 10%;">
<br>
<h2 style="margin-left: 10%" id="team_name_title">Match Number</h2>
<form id="match_number" method="POST" action="/" class="row g-3" style="margin-left: 10%; margin-right: 10%;">
	<!-- <label for="notes_entry" class="visually-hidden">Extra Notes</label> -->
	<!-- <input type="text" name="team_notes_input" class="form-control" id="notes_entry" placeholder="Extra Notes"> -->
	<textarea name="match_number_input" id="match_number_entry" rows="2" placeholder="Match Number"></textarea>
	<!-- <button onclick = "submit()" type="submit" class="btn btn-primary mb-3" name="notes" value="notes">Save Session Notes</button> -->
</form>
<br>
<div>
    <!-- adding button and heading to show the digits -->
    <!-- increment() and decrement() functions on button click-->
	<h2 style="margin-left: 10%;">Auto</h2>
	<br>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-0-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-0-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-0-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-1-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-1-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-1-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-2-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-2-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-2-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<br>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-3-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-3-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-3-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-4-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-4-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-4-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-5-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-5-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-5-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<br>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-6-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-6-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-6-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-7-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-7-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-7-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-8-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-8" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-8" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<br>
	<h2 style="margin-left: 10%;">Teleop</h2>
	<br>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-0" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<br>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-5" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<br>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-6" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-7" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-7" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-7" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<div style="margin-left: 10%">
		<button type="submit">
			<img onclick="change_img(this.id);" id="0-8" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="1-8" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
		<button type="submit">
			<img onclick="change_img(this.id);" id="2-8" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png" width="40" height="50" alt="buttonpng" border="0" />
		</button>
	</div>
	<br>
	<br>
	<h2 style="margin-left: 10%;">Charging Station (the thing the robots go on top at the end)</h2>
	<br>
	<div style="margin-left: 10%;">
		<button type="submit" onclick="toggle_climb(this.id)" id="docked" class="btn btn-primary">Docked</button> <a>(robot on platform)</a>	<br>
		<br>
		<button type="submit" onclick="toggle_climb(this.id)" id="engaged" class="btn btn-primary">Engaged</button> <a>(platform is balanced)</a>
	</div>
	<br>
	<br>
    <h2 style="margin-left: 10%; margin-top: 3%;">Notes</h2>
	<br>
    <!-- onkeydown="return event.key != 'Enter';" -->
    <form id="team_notes" method="POST" action="/" class="row g-3" style="margin-left: 10%; margin-right: 10%;">
        <!-- <label for="notes_entry" class="visually-hidden">Extra Notes</label> -->
        <!-- <input type="text" name="team_notes_input" class="form-control" id="notes_entry" placeholder="Extra Notes"> -->
        <textarea name="team_notes_input" id="notes_entry" rows="2" placeholder="Extra Notes"></textarea>
        <!-- <button onclick = "submit()" type="submit" class="btn btn-primary mb-3" name="notes" value="notes">Save Session Notes</button> -->
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button type="submit" onclick="submit(); refresh();" class="btn btn-primary btn-lg" name="balls_shot" style="margin-left: 10%; display: inline-block;">Submit Session</button>

</div>
<!-- JavaScript code-->
<script>
	var climb = false;
	
	function toggle_climb(id){
		climb = !(climb);

		const elem = document.getElementById(id);
		const class_t = elem.className;

		console.log(class_t);
		
		if (class_t == 'btn btn-primary'){
			elem.className = 'btn btn-secondary';
		}
		if (class_t == 'btn btn-secondary'){
			elem.className = 'btn btn-primary';
		}
	}

	function change_img(id){
		console.log(id);
		const elem = document.getElementById(id);
		const src_link = (elem.src);

		const gray_square_link = "https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png";
		const cone_link = "https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_960,f_auto/cone_x3fn44.jpg";
		const box_link = "https://www.enasco.com/medias/PE08788-main-530Wx530H?context=bWFzdGVyfHJvb3R8MjU3MTZ8aW1hZ2UvanBlZ3xoZDIvaGE0Lzg5MDYwNjgwOTkxMDIuanBnfDFkN2JiYTIxM2RiNDdjOTBiOGQ3MGQwOTBjYjQ3ZjM5MjhhN2IwYzc5ZjlmNjhmMGQxNDBkYjJmMjJiMTUwY2E";
		
		const cone_binded = ["0-0", "1-0", "0-2", "1-2", "0-3", "1-3", "0-5", "1-5", "0-6", "1-6", "0-8", "1-8"];
		const cube_binded = ["0-1", "1-1", "0-4", "1-4", "0-7", "1-7"];
		
		console.log(cone_binded);

		if (src_link == box_link){
			if (!cube_binded.includes(id.slice(0, 3))){
				elem.src = gray_square_link;
			}
			else {
				elem.src = gray_square_link;
			}
		}
		if (src_link == cone_link){
			if (!cone_binded.includes(id.slice(0, 3))){
				elem.src = box_link;
			}
			else {
				elem.src = gray_square_link;
			}
		}
		if (src_link == gray_square_link){
			if (cube_binded.includes(id.slice(0, 3))){
				elem.src = box_link;
			}
			else{
				elem.src = cone_link;
			}
		}
	}

	function refresh(){
		location.reload();
	}

	function elem_to_arrs(adder){
		var high_col = [];
		var mid_col = [];
		var low_col = [];

		link_counter = 0;
		for (let col = 0; col < 3; col++){
			for (let row = 0; row < 9; row++){
				const elem_id = col.toString() + "-" + row.toString() + adder;

				const elem = document.getElementById(elem_id);

				if (elem.src != "https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Square_gray.svg/1200px-Square_gray.svg.png"){
					if (col == 0){
						high_pts += 5;
						high_col.push("1");
					}
					if (col == 1){
						mid_pts += 3;
						mid_col.push("1");
					}
					if (col == 2){
						low_pts += 2;
						low_col.push("1");
					}
				}
				else {
					if (col == 0){
						high_col.push("0");
					}
					if (col == 1){
						mid_col.push("0");
					}
					if (col == 2){
						low_col.push("0");
					}
				}
			}
		}
		
		return [high_col, mid_col, low_col];
	}

    function submit(){
		high_pts = 0;
		mid_pts = 0;
		low_pts = 0;
		link_pts = 0;


		const [high_col, mid_col, low_col] = elem_to_arrs("");
		const [high_col_auto, mid_col_auto, low_col_auto] = elem_to_arrs("-auto");
        
		var team_data = {
			"high_col": high_col,
			"mid_col": mid_col,
			"low_col": low_col,
			"high_col_auto": high_col_auto,
			"mid_col_auto": mid_col_auto,
			"low_col_auto": low_col_auto,
			"high_pts": high_pts,
			"mid_pts": mid_pts,
			"low_pts": low_pts,
			"climb": climb
		};

		console.log(team_data);

        var elements = document.getElementById("team_notes").elements;
        for(var i = 0 ; i < elements.length ; i++){
            var item = elements.item(i);
            team_data['notes'] = item.value;
        }
        
		var elements = document.getElementById("match_number").elements;
        for(var i = 0 ; i < elements.length ; i++){
            var item = elements.item(i);
            team_data['match_number'] = item.value;
        }
        
        // alert(JSON.stringify(team_data, null, 4));

        // document.getElementById("demo").innerHTML = JSON.stringify(obj);

        fetch("/observing",
            {
                method: "POST",
                headers: {'Content-Type': 'application/json'}, 
                body: JSON.stringify(team_data)}).then(res => {console.log("Request complete! response:", res);
            }
        );
        // $.ajax({
        // url: Flask.url_for('/observing'),
        // type: 'POST',
        // data: JSON.stringify(team_data),   // converts js value to JSON string
        // })
        // .done(function(result){     // on success get the return object from server
        //     console.log(result)     // do whatever with it. In this case see it in console
        // })
    }

</script>
<form method = "POST" action='/observing' style = "margin-left: 10%">
    <!-- <form method ="post" action="/observing">
        <button type="submit" name="ball_shot" value="ball_shot" class="btn btn-primary btn-lg">Ball Shot</button>&nbsp;&nbsp;
        <button type="submit" name="accident" value="accident" class="btn btn-primary btn-lg">Accident Happened</button>&nbsp;&nbsp;
        <button type="submit" name="e1" value="e1" class="btn btn-primary btn-lg">Event 1</button>&nbsp;&nbsp;
        <button type="submit" name="e2" value="e2" class="btn btn-primary btn-lg">Event 2</button>&nbsp;&nbsp;
    </form>  -->
    <!-- <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Team Name</label>
        <br>
        <input type="button" value="Team1">
        <input type="button" value="Team2">
        <input type="button" value="Team3">
        <input type="button" value="Team4">
        <br>
        <br>
        <br>
        <input type="text" class="form-control" id="exampleInputPassword1" name = "team_name">
        <label for="exampleInputPassword1" class="form-label">Notes on Team</label>
        <br>
        <input type="button" value="Ball Shot" name="ball_shot">
        <input type="button" value="Some Action" name="">
        <input type="button" value="Some Action">
        <input type="button" value="Some Action">
        <input type="button" value="Some Action">
        <input type="text" class="form-control" id="exampleInputPassword1" name = "notes">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Crop Type</label></br>
            <select name="type" id="crops">
        </select>
    </div> -->
    <!--
    <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </br></br>
</form>
{% endblock %}
